/*
 * memos.css: 
 *    Styles for 'Memos' go in this file 
 */

/* Nothing yet */

.lyrics {
    margin-left: 3em;
    font-style: italic;
}

.attribution  {
    font-size: smaller;
}

.container {
    width: 600px;
    margin: 0 auto;
}

#create-memo-form span{ 
    width: 100px;
}
#create-memo-form input {
    width: 470px;
}
#create-memo-form button {
    width: 100%;
}
h1 {
    text-align: center;
}
